{{ define "content" }}
<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ .Query }}" hx-get="/contacts" hx-target="next tbody"
        hx-trigger="search, keyup delay:500ms changed" hx-push-url="true">
    <input type="submit" value="Search">
</form>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>
    <tbody>
        {{ template "rows" . }}
    </tbody>
</table>
<p>
    <a href="/contacts/new">Add Contact</a>
</p>
{{ end }}