{{ define "content" }}
{{ template "archive-ui" . }}
<form action="/contacts" method="get" class="tool-bar">
    <label for="search">Search Term</label>
    <input id="search" type="search" name="q" value="{{ .Query }}" hx-get="/contacts" hx-target="next tbody"
        hx-trigger="search, keyup delay:500ms changed" hx-push-url="true" hx-indicator="#spinner">
    <img id="spinner" style="height: 20px" class="htmx-indicator" src="/static/img/spinning-circles.svg"
        alt="Request In Flight..." />
    <input type="submit" value="Search">
</form>
<form>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {{ template "rows" . }}
        </tbody>
    </table>
    <button hx-delete="/contacts" hx-target="body" hx-confirm="Are you sure you want to delete all contacts?">
        Delete All
    </button>
</form>
<p>
    <a href="/contacts/new">Add Contact</a>
    <!-- this should issue a new request when a contact is deleted, currently doesn't -->
    <span hx-get="contacts/count" hx-trigger="load">
        <img id="spinner" style="height: 20px" class="htmx-indicator" src="/static/img/spinning-circles.svg" />
    </span>
</p>
{{ end }}