<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contacts App</title>
    <link rel="stylesheet" href="https://the.missing.style/v0.2.0/missing.min.css">
    <link rel="stylesheet" href="/static/site.css">
    <script src="/static/js/htmx.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <!-- <script src="/static/js/_hyperscript-0.9.7.js"></script> -->
    <!-- <script src="/static/js/rsjs-menu.js" type="module"></script> -->
    <script defer src="https://unpkg.com/alpinejs@3/dist/cdn.min.js"></script>
</head>

<body hx-boost="true">
    <main>
        <header>
            <h1>
                CONTACTS.APP <br>
                A Demo Contacts Application
            </h1>
        </header>
        {{ template "content" . }}
    </main>
</body>

</html>